//.eslintrc
{
    "extends": [
      "eslint:recommended",
      "plugin:@typescript-eslint/recommended",
      "plugin:prettier/recommended"
    ],
    "plugins": ["@typescript-eslint", "prettier"],
    "env": {
      "browser": true,
      "node": true,
      "jest": true
    },
    "rules": {
      "prettier/prettier": ["error", { "semi": false, "singleQuote": true }]
    },
    "parser": "@typescript-eslint/parser"
}
